*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
a{
    text-decoration: none;
    color: black;
}
nav > a{
    margin-left: 15px;
}
.hamburguesa{
    color: black;
}
@media(max-width:500px){
    nav,div{
        display: none;
    }

}